.dm-banner {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.459)), url(../../assets/dm-banner.jpg);
    background-size: cover;
    background-position: center;
}

.dmser-summ {
    background-image: url(../../assets/aboutDM.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .dmser-summ {
        background-image: none;
    }
}

.hover-text1 {
    color: #fff;
}

.btn-dm {
    position: relative;
    overflow: hidden;
}

.btn-dm::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #12223b;
    /* Change this to your desired hover color */
    transition: left 0.8s ease;
    z-index: 0;
}

.btn-dm:hover::before {
    left: 0;
    color: #fff;
}

.btn-dm span {
    position: relative;
    z-index: 1;
}

.btn-dm:hover span {
    color: #fff;
}

.btn-dm svg {
    position: relative;
    z-index: 1;
}

.btn-dm:hover svg {
    fill: #fff;
}

.dmdetails-bnr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.705)), url(../../assets/bannerdm.jpg);
    background-size: cover;
    background-position: center;
}