.team-bnr-cont {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/Orange\ Professional\ Hiring\ LinkedIn\ Post\ \(1300\ x\ 300\ px\)\ \(400\ x\ 600\ px\)\ \(Website\).jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


/* .main {
 disp
} */

.team-cont {
    background: rgb(40, 170, 74);
    background: linear-gradient(0deg, rgba(40, 170, 75, 0.438) 0%, rgba(255, 255, 255, 1) 83%);
}

.profile-card {
    position: relative;
    font-family: sans-serif;
    width: 390px;
    height: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 50px 25px;
}

.profile-card:hover {
    border-radius: 10px;
    height: 380px;
}

.profile-card .img {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
}

.profile-card:hover .img {
    transform: translateY(-60px);
}

.img img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}

.profile-card:hover img {
    border-radius: 10px;
}

.caption {
    text-align: center;
    transform: translateY(-35px);
    opacity: 0;
    transition: .6s;
}

.profile-card:hover .caption {
    opacity: 1;
}

.caption h3 {
    font-size: 21px;
    font-family: sans-serif;
}

.caption p {
    font-size: 15px;
    color: #0c52a1;
    font-family: sans-serif;
    margin: 2px 0 9px 0;
}

.caption .social-links a {
    color: #333;
    margin-right: 15px;
    font-size: 21px;
    transition: .6s;
}

.social-links a:hover {
    color: #0c52a1;
}

.teamvalues-bg {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.719)), url(../../assets/ouvalues.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

@media (max-width: 740px) {
    .profile-card {
        width: 320px;
        height: 320px;
        margin: 30px 25px;
    }

    .profile-card:hover {
        height: 360px;
    }
}