@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  /* background: linear-gradient(90deg, #d2fad8 0%, #d9ffef 100%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Define CSS Variables for the Scrollbar */
:root {
  --scroll-size: 10px;
  /* Width and height of the scrollbar */
  --scroll-thumb-color: #28aa4a;
  /* Color of the scrollbar thumb */
  --scroll-track: transparent;
  /* Background color of the scrollbar track */
  --scroll-radius: 1px;
}

/* Global Scrollbar Styles */
::-webkit-scrollbar {
  width: var(--scroll-size);
  height: var(--scroll-size);
}

::-webkit-scrollbar-track {
  background: black;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: var(--scroll-radius);
}

* {
  scrollbar-width: thin;
  /* Use 'thin' to reduce width in Firefox */
  scrollbar-color: var(--scroll-thumb-color) var(--scroll-track);
  /* Set colors for Firefox */
}