/* faqs */

.our-faqs {
    margin: 0 60px;
    /* width: 100%; */
}

.faq-container {
    display: flex;
    align-items: center;
    margin: 40px 40px;
}

.faq-q {
    margin-left: 70px;
}

.section-title .faq-para {
    margin: 20px 200px;
}

.faq-q .faq-para {
    margin: 0 310px;
}

.section-title h2, p {
    color: black;
}

.our-faqs-images-row {
    display: flex;
    align-items: end;
}

/* .our-faqs-images-row-1 {
    display: flex;
    align-items: start;
    justify-content: space-around;
} */



.our-faqs-images {
    position: relative;
}

.our-faqs-bulitup {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 53%;
    right: 0;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-img img {
    width: 200px;
}

.faq-img-1 img {
    width: 170px;
}

.our-faqs-bulitup img {
    max-width: 90px;
    background-color: white;
    /* padding: 5px; */
    padding: 11px 0px 0px 5px;
    border-radius: 100%;
}

.our-faqs-images .row:first-child {
    margin-bottom: 30px;
}

.faqs-img-2 img {
    margin-left: 10px;
}

.faqs-img-2 img,
.faqs-img-1 img {
    border-radius: 40px;
}

/* .faq-bg {
    background-image: linear-gradient(to right,
            rgba(0, 255, 0, 0.342),
            rgba(0, 0, 0, 0.7)),
        url(./faq/faq-bg.png);
} */