@font-face {
  font-family: "Manrope";
  src: url("../../../public/fonts/Manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: "serif";
  src: url("../../../public/fonts/Source-serif/SourceSerif4-Light.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  /* font-display: swap; */
}
